# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

CMakeFiles/
Bookstore_2020.cbp
cmake_install.cmake
CMakeCache.txt
code
Makefile
.idea
exe/
Data/ComplexDataSet/testcase1/*.in
Data/ComplexDataSet/testcase3/*.in
Data/ComplexDataSet/testcase4/*.in
Data/ComplexDataSet/testcase5/*.in
